{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Maricon 2024</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/aos/aos.css" %} rel="stylesheet">

    <link href={% static 'assets/css/main.css' %} rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/img/logos/favicon.ico">
</head>

<body>

{% include "new_maricon/header.html" %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url({% static 'img/maricon_header.png' %})">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Disclaimer Policy</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/maricon/">Home</a></li>
                    <li>Disclaimer Policy</li>
                </ol>
            </div>
        </nav>
    </div>
    <section id="hero " class="hero d-flex align-items-center" style="background-color: #f3f6fc">
        <ol class="container text-dark">
            <h4>Disclaimer Policy for MARICON 2024 Website</h4>

            <p>The information provided on the MARICON 2024 website is for general informational purposes only. The
                organizers make no representations or warranties of any kind, express or implied, about the
                completeness, accuracy, reliability, suitability, or availability concerning the website or the
                information, products, services, or related graphics contained on the website for any purpose.</p>

            <p>Any reliance you place on such information is therefore strictly at your own risk. In no event will the
                organizers be liable for any loss or damage, including without limitation, indirect or consequential
                loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or
                in connection with, the use of the MARICON 2024 website.</p>

            <p>The organizers do not endorse or make any representations about the external websites that may be linked
                to the MARICON 2024 website. These links are provided for convenience and informational purposes. The
                organizers are not responsible for the content or practices of third-party sites and do not make any
                warranties or representations regarding the accuracy or completeness of any content on such
                websites.</p>

            <p>The inclusion of any link does not imply endorsement by the organizers. Users are encouraged to review
                the privacy policies and terms of use of any external websites linked from the MARICON 2024 website.</p>

            <p>The organizers reserve the right to update or modify this disclaimer policy at any time without prior
                notice. Users are encouraged to review this disclaimer periodically for changes.</p>

            <p>If you have any questions or concerns regarding this disclaimer policy, please contact us at [contact
                email].</p>

            <p>This Disclaimer Policy is effective as of 20/02/2024.</p>


        </ol>


    </section><!-- End Hero Section -->

</main><!-- End #main -->
{% include "new_maricon/footer.html" %}

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "assets/vendor/purecounter/purecounter_vanilla.js" %}></script>
<script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
<script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
<script src={% static "assets/vendor/aos/aos.js" %}></script>
<script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

<!-- Template Main JS File -->
<script src={% static "assets/js/main.js" %}></script>

</body>

</html>
