{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Logis Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href={% static "assets/img/favicon.png" %} rel="icon">
    <link href={% static "assets/img/apple-touch-icon.png" %} rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/aos/aos.css" %} rel="stylesheet">

    <link href={% static 'assets/css/main.css' %} rel="stylesheet">
    {% if msg %}
        <script>
            window.onload = function () {
                alert("{{ msg }}");
            }
        </script>
    {% endif %}


</head>

<body>

{% include "new_maricon/header.html" %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url({% static 'img/maricon_header.png' %})">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Signup</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/maricon/">Home</a></li>
                    <li>Signup</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section id="hero " class="hero d-flex align-items-center" style="background-color: #f3f6fc">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-center">
                <div class="d-flex flex-column justify-content-center col-lg-8 ">
                    {% if err %}
                        <h5 class="text-danger">{{ msg }}</h5>
                    {% endif %}
                    {% if form.errors %}
                        <h5 class="text-danger">There was an error with your submission. Please check the form and try
                            again.</h5>
                    {% endif %}
                    {% if form.full_name.errors %}
                        <h5 class="text-danger">{{ form.full_name.errors }}</h5>
                    {% endif %}
                    {% if form.email.errors %}
                        <h5 class="text-danger">{{ form.email.errors }}</h5>
                    {% endif %}
                    {% if form.mobile_number.errors %}
                        <h5 class="text-danger">{{ form.mobile_number.errors }}</h5>
                    {% endif %}
                    {% if otp %}
                        <form action="/maricon/login/otp/" class="form-search d-flex align-items-stretch mb-3"
                              data-aos="fade-up" method="post"
                              data-aos-delay="50">
                            {% csrf_token %}
                            <input name="otp" type="text" class="form-control"
                                   placeholder="Enter the otp to continue">
                            <input name="email" type="email" hidden value="{{ email }}">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    {% else %}
                        <form action="/maricon/register/" class="form-search  mb-3"
                              data-aos="fade-up" method="post"
                              data-aos-delay="50">
                            {% csrf_token %}
                            <input name="full_name" type="text" class="form-control"
                                   placeholder="Enter Full Name" required>

                            <input name="email" type="email" class="form-control"
                                   placeholder="Enter Email Id" required>

                            <select name="gender" class="form-control" required>
                                <option value="" disabled selected>Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>

                            <input name="mobile_number" type="tel" class="form-control"
                                   placeholder="Enter Mobile Number" required>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary ">Sign Up</button>
                            </div>
                        </form>

                    {% endif %}
                </div>


            </div>
        </div>
    </section><!-- End Hero Section -->

</main><!-- End #main -->
{% include "new_maricon/footer.html" %}

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "assets/vendor/purecounter/purecounter_vanilla.js" %}></script>
<script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
<script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
<script src={% static "assets/vendor/aos/aos.js" %}></script>
<script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

<!-- Template Main JS File -->
<script src={% static "assets/js/main.js" %}></script>

</body>

</html>
