{% extends "maricon/minbase.html" %}
{% load static %}
{% block contents %}
{% include "maricon/header.html" %}

<div class="container mb-5 mt-5">
    <div class="row justify-content-center">
        <div class="box-container d-flex flex-column align-items-center mt-4">
            <div class="col-md-11">
                <h1 class="text-center">Login</h1>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group
                        {% if form.email.errors %}
                            has-error
                        {% endif %}">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        {% for error in form.email.errors %}
                        <span class="help-block
                                {% if forloop.first %}
                                    with-errors
                                {% endif %}">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <small class="mt-2 d-block text-muted">We'll send a one-time passcode to
                        your email.</small>
                    <div class="d-flex mt-4 justify-content-between align-items-center">
                        <a href="{% url 'register' %}" class="text-primary">Create account</a>
                        <button type="submit" class="btn btn-primary">Send OTP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .box-container {
        background-color: #fff; /* Change the background color to white */
        border: none; /* Remove the border */
        padding: 40px; /* Adjust padding as needed */
        margin-bottom: 30px; /* Adjust margin as needed */
        max-width: 500px; /* Adjust width as needed */
        width: 100%; /* Ensure responsiveness */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }

    .box-container h1 {
        margin-bottom: 20px; /* Adjust margin as needed */
    }

    .box-container a {
        color: blue; /* Set the color of the sign-up link to blue */
    }
</style>

{% include "maricon/footer.html" with committees=committee_names %}
{% endblock %}
