{% extends "maricon/minbase.html" %}
{% load static %}
{% block contents %}
{% include "maricon/header.html" %}
<div class="container">

    <div class="mt-5 mb-5 row justify-content-center">
        <div class="box-container d-flex flex-column align-items-center">
            <div class="col-md-12">
                <h1 class="text-center">Register</h1>

                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group
                        {% if form.name.errors %}
                            has-error
                        {% endif %}">
                        <small><label for="name" class="inline-label">Name</label></small>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
                        {% for error in form.name.errors %}
                        <span class="help-block
                            {% if forloop.first %}
                                with-errors
                            {% endif %}">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group
                        {% if form.phone_number.errors %}
                            has-error
                        {% endif %}">

                        <small><label for="phone_number" class="inline-label">Phone Number</label></small>
                        <input type="tel" class="form-control" id="phone_number" name="phone_number"
                               placeholder="Phone Number" required>
                        {% for error in form.phone_number.errors %}
                        <span class="help-block
                            {% if forloop.first %}
                                with-errors
                            {% endif %}">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group
                        {% if form.email.errors %}
                            has-error
                        {% endif %}">
                        <small><label for="email" class="inline-label">Email</label></small>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        {% for error in form.email.errors %}
                        <span class="help-block
                            {% if forloop.first %}
                                with-errors
                            {% endif %}">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="d-flex mt-4 justify-content-between">
                        <a href="{% url 'login' %}" class="btn btn-link">Login</a>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .box-container {
        background-color: #fff; /* Change the background color to white */
        border: none; /* Remove the border */
        padding: 20px; /* Adjust padding as needed */
        margin-bottom: 30px; /* Adjust margin as needed */
        max-width: 500px; /* Adjust width as needed */
        width: 100%; /* Ensure responsiveness */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }

    .box-container h1 {
        margin-bottom: 20px; /* Adjust margin as needed */
    }
</style>

{% include "maricon/footer.html" with committees=committee_names %}
{% endblock %}
