{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Maricon 2024</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/aos/aos.css" %} rel="stylesheet">
    <script src="https://www.paynimo.com/paynimocheckout/client/lib/jquery.min.js" type="text/javascript"></script>

    <link href={% static 'assets/css/main.css' %} rel="stylesheet">
    {% if err %}
        <script>
            window.onload = function () {
                alert("{{ err }}");
            }
        </script>
    {% endif %}
    <script type="text/javascript" src="https://www.paynimo.com/paynimocheckout/server/lib/checkout.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function handleResponse(res) {
                if (typeof res != "undefined" && typeof res.paymentMethod != "undefined" && typeof res.paymentMethod.paymentTransaction != "undefined" && typeof res.paymentMethod.paymentTransaction.statusCode != "undefined" && res.paymentMethod.paymentTransaction.statusCode == "0300") {
                    // success block
                } else if (typeof res != "undefined" && typeof res.paymentMethod != "undefined" && typeof res.paymentMethod.paymentTransaction != "undefined" && typeof res.paymentMethod.paymentTransaction.statusCode != "undefined" && res.paymentMethod.paymentTransaction.statusCode == "0398") {
                    // initiated block
                } else {
                    // error block
                }
            };

            $(document).off("click", "#btnSubmit").on("click", "#btnSubmit", function (e) {
                e.preventDefault();

                var reqJson = {
                    "features": {
                        "enableAbortResponse": true,
                        "enableExpressPay": true,
                        "enableInstrumentDeRegistration": true,
                        "enableMerTxnDetails": true
                    },
                    "consumerData": {
                        "deviceId": "WEBSH2",    //possible values "WEBSH1" or "WEBSH2"
                        "token": "{{ token }}",
                        "returnUrl": "http://localhost:8000/payment/verify/",    //merchant response page URL
                        "responseHandler": handleResponse,
                        "paymentMode": "all",
                        "merchantLogoUrl": "https://www.paynimo.com/CompanyDocs/company-logo-vertical.png",  //provided merchant logo will be displayed
                        "merchantId": "{{ consumer_data.merchant_id }}",
                        "currency": "INR",
                        "consumerId": "{{ consumer_data.consumer_id }}",
                        "txnId": "{{ consumer_data.txn_id }}",   //Unique merchant transaction ID
                        "items": [{
                            "itemId": "FIRST",
                            "amount": "{{ consumer_data.total_amount }}",
                            "comAmt": "0"
                        }],
                        "customStyle": {
                            "PRIMARY_COLOR_CODE": "#45beaa",   //merchant primary color code
                            "SECONDARY_COLOR_CODE": "#FFFFFF",   //provide merchant's suitable color code
                            "BUTTON_COLOR_CODE_1": "#2d8c8c",   //merchant's button background color code
                            "BUTTON_COLOR_CODE_2": "#FFFFFF"   //provide merchant's suitable color code for button text
                        }
                    }
                };

                $.pnCheckout(reqJson);
                if (reqJson.features.enableNewWindowFlow) {
                    pnCheckoutShared.openNewWindow();
                }
            });
        });
    </script>

</head>

<body>

{% include "new_maricon/header.html" %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
             style="background-image: url({% static 'img/maricon_header.png' %})">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Confirm Payment</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/maricon/">Home</a></li>
                    <li>Confirm Payment</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <section id="hero " class="hero d-flex align-items-center" style="background-color: #f3f6fc">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-center">
                <div class="d-flex flex-column justify-content-center col-lg-8 ">
                    {% if err %}
                        <h5 class="text-danger">{{ err }}</h5>
                    {% endif %}
                    <h2 class="text-dark">Payment Details</h2>
                    <div class="text-dark">
                        Name : {{ payment.user.full_name }}
                    </div>
                    <div class="text-dark">
                        Category : {{ payment.category }}
                    </div>
                    <div class="text-dark">
                        Total Amount : {{ payment.amount }} {{ payment.currency }}
                    </div>
                    <div class="text-center">
                        <button id="btnSubmit" class="btn btn-primary ">Proceed to Pay</button>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End Hero Section -->

</main><!-- End #main -->
{% include "new_maricon/footer.html" %}

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "assets/vendor/purecounter/purecounter_vanilla.js" %}></script>
<script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
<script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
<script src={% static "assets/vendor/aos/aos.js" %}></script>
<script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

<!-- Template Main JS File -->
<script src={% static "assets/js/main.js" %}></script>
<script type="text/javascript" src="https://www.paynimo.com/paynimocheckout/server/lib/checkout.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function handleResponse(res) {
            if (typeof res != "undefined" && typeof res.paymentMethod != "undefined" && typeof res.paymentMethod.paymentTransaction != "undefined" && typeof res.paymentMethod.paymentTransaction.statusCode != "undefined" && res.paymentMethod.paymentTransaction.statusCode == "0300") {
                // success block
            } else if (typeof res != "undefined" && typeof res.paymentMethod != "undefined" && typeof res.paymentMethod.paymentTransaction != "undefined" && typeof res.paymentMethod.paymentTransaction.statusCode != "undefined" && res.paymentMethod.paymentTransaction.statusCode == "0398") {
                // initiated block
            } else {
                // error block
            }
        };

        $(document).off("click", "#btnSubmit").on("click", "#btnSubmit", function (e) {
            e.preventDefault();

            var reqJson = {
                "features": {
                    "enableAbortResponse": true,
                    "enableExpressPay": true,
                    "enableInstrumentDeRegistration": true,
                    "enableMerTxnDetails": true
                },
                "consumerData": {
                    "deviceId": "WEBSH2",    //possible values "WEBSH1" or "WEBSH2"
                    "token": "{{ token }}",
                    "returnUrl": "http://localhost:8000/payment/verify/",    //merchant response page URL
                    "responseHandler": handleResponse,
                    "paymentMode": "all",
                    "merchantLogoUrl": "https://www.paynimo.com/CompanyDocs/company-logo-vertical.png",  //provided merchant logo will be displayed
                    "merchantId": "{{ consumer_data.merchant_id }}",
                    "currency": "INR",
                    "consumerId": "{{ consumer_data.consumer_id }}",
                    "txnId": "{{ consumer_data.txn_id }}",   //Unique merchant transaction ID
                    "items": [{
                        "itemId": "FIRST",
                        "amount": "{{ consumer_data.total_amount }}",
                        "comAmt": "0"
                    }],
                    "customStyle": {
                        "PRIMARY_COLOR_CODE": "#45beaa",   //merchant primary color code
                        "SECONDARY_COLOR_CODE": "#FFFFFF",   //provide merchant's suitable color code
                        "BUTTON_COLOR_CODE_1": "#2d8c8c",   //merchant's button background color code
                        "BUTTON_COLOR_CODE_2": "#FFFFFF"   //provide merchant's suitable color code for button text
                    }
                }
            };

            $.pnCheckout(reqJson);
            if (reqJson.features.enableNewWindowFlow) {
                pnCheckoutShared.openNewWindow();
            }
        });
    });
</script>
</body>

</html>
